<footer class="footer collapse_desktop" id="bottom">
    <a href="#top" class="footer_top">Return to top <svg class="icon icon-arrow-up"><symbol id="icon-arrow-up" viewBox="0 0 32 32">
        <path d="M16 1l-15 15h9v16h12v-16h9z"></path>
        </symbol><use xlink:href="#icon-arrow-up"></use></svg></a>
    <a href="#top" class="footer_li current_page_footer">Start Here »</a>
    <a href="recommendations.html" class="footer_li">Recommendations »</a>
    <!-- <a href="#" class="footer_li">Blog »</a></li> -->
</footer>