<head>
    <title>José de la Puente | I work on Build your Superpower</title>
    <meta charset="UTF-8">
    <meta name="description" content="Hi, I'm José de la Puente. I produce the
    Build your Superpower show to help people become uniquely great.
    Past guests include the founders of Shazam and Metro Bank.">
    <meta name="og:description" content="Hi, I'm José de la Puente. I produce the
    Build your Superpower show to help people become uniquely great.
    Past guests include the founders of Shazam and Metro Bank.">
    <meta name="autor" content="José de la Puente">
    <meta name="keywords" content="podcast, José de la Puente, build your superpower, start-ups, design, podcast">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="icon" type="Image/png" href="images/JP.png" sizes="16x16">
</head>