<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="og:description" content="{{ page.description }}">
    <meta name="autor" content="José de la Puente">
    <meta name="keywords" content="podcast, José de la Puente, build your superpower, start-ups, design, podcast">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="icon" type="Image/png" href="images/JP.png" sizes="16x16">
</head>